@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #e76fff;
    border-radius: 1rem;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c502cc;
}